/api/app/config/parameters.yml
/api/build\hmg.properties
/api/phpunit.xml
/api/var/*
!/api/var/cache
/api/var/cache/*
!/apivar/cache/.gitkeep
!/api/var/logs
/api/var/logs/*
!/api/var/logs/.gitkeep
!/api/var/sessions
/api/var/sessions/*
!/api/var/sessions/.gitkeep
!/api/var/SymfonyRequirements.php
/api/vendor/
/api/web/bundles/
/api/web/vendor/
/api/web/css/
.idea/
/frontend/node_modules/