<div class="row home-title">
    <div class="col-md-12 title">
        <div class="row text-left">
            <div class="col-md-4">
                <h1>LeaseWeb Acronis Backup</h1>
                <div class="description-title">
                    Advanced cloud based backup for your entire IT infrastructure. Get 3 months free when you sign up
                    today!
                </div>
            </div>
            <div class="col-md-8 header-image">

            </div>
        </div>
    </div>
</div>
<div class="container-fluid home-content">
    <div class="row content-data">
        <div class="container">
            <div class="row">
                <div class="col-md-3 widget">
                    <img src="https://www.leaseweb.com/sites/default/files/Hm_IC_prod_DediServ_1.png" />
                    <h2>Dedicated Servers</h2>
                    <span>
                        Raw power you can customize to make the most demanding workloads fly.
                    </span>
                </div>
                <div class="col-md-3 widget">
                    <img src="https://www.leaseweb.com/sites/default/files/Hm_IC_prod_Cloud_0.png" />
                    <h2>Cloud</h2>
                    <span>
                        Scalable virtualized solutions that can grow as fast as you do.
                    </span>
                </div>
                <div class="col-md-3 widget">
                    <img src="https://www.leaseweb.com/sites/default/files/Hm_IC_prod_CDN_0.png" />
                    <h2>CDN</h2>
                    <span>
                        Use the power of our global network to make your website fly.
                    </span>
                </div>
                <div class="col-md-3 widget">
                    <img src="https://www.leaseweb.com/sites/default/files/Hm_IC_prod_Security_1.png" />
                    <h2>Cybersecurity Services</h2>
                    <span>
                        Comprehensive protection from DDoS attackers.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>